@inherits LayoutComponentBase
<TopMenu />

<div class="page">
    <main class="container">
        @Body
    </main>
</div>
<div class="row">
    <div class="col-lg-12">
        <br>
        <br>
    </div>
</div>
