@page "/educacao"

<PageTitle>Educação</PageTitle>

<div class="container">
    <div class="row content-container">
        <div class="col-lg-12">
            <div class="hd">
                Áreas de atuação
            </div>
        </div>
    </div>
</div>