.content-container {
    background-color: #D2DBDE;
    border-radius: 20px;
    margin-top: 50px;
    color: #161A1C;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-content {
    padding: 20px;
}

.right-content {
    padding: 20px;
    font-size: larger;
    text-align: justify;
}


.center-content {
    text-align: left;
    padding: 20px;
    font-size: larger;
    vertical-align: middle;
}

img {
    max-width: 100%;
    border-radius: 20px; /* Optional: add rounded corners to the image */
}

.image-frame {
    background-color: #D2DBDE; /* Background color */
    padding: 10px;
    display: inline-block; /* Ensures the frame size is determined by its content */
    border-radius: 25;
}

.bold-font {
    font-style: italic;
}

.hd {
    padding: 20px;
    font-size: x-large;
    text-align: center;
}

.listing {
    text-align: left;
    font-size: medium;
    justify-content: left;
}

.row-margin {
    margin-top: 20px; /* Adjust the margin value as needed */
}

.description {
    text-align: left;
}

.curso {
    margin-top: 25px;
}