@page "/"

<PageTitle>Sobre Mim</PageTitle>


<div class="container">
    <div class="row content-container">
        <div class="col-lg-4 col-md-6 left-content">
            <div class="image-frame">
                <img src="/img/eu.png" alt="Eu" class="img-fluid">
            </div>
        </div>

        <div class="col-lg-4 col-md-6 center-content">
            <p>Nome: Túlio Nunes Polido Lopes</p>
            <p>Data de Nascimento: 20 de outubro de 1995</p>
            <p>Cidade: Belo Horizonte - Minas Gerais</p>
        </div>

        <div class="col-lg-4 col-md-12 right-content">
            <p>Another small paragraph about me. It could contain additional details and information.</p>
        </div>
    </div>
</div>