.content-container {
    background-color: #230903;
    border-radius: 20px;
    margin-top: 50px;
    color: #F4F2F3;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-content {
    padding: 20px;
}

.right-content {
    padding: 20px;
    font-size: larger;
}


.center-content {
    text-align: left;
    padding: 20px;
    font-size: larger;
    vertical-align: middle;
}

img {
    max-width: 100%;
    border-radius: 50%; /* Optional: add rounded corners to the image */
}

.image-frame {
    border: 4px solid #230903; /* Border color */
    background-color: #656256; /* Background color */
    padding: 10px;
    display: inline-block; /* Ensures the frame size is determined by its content */
    border-radius: 50%;
}