@page "/educacao"

<PageTitle>Educação</PageTitle>

<div class="container">

    <!-- CARD Graduacao -->
    <div class="row content-container">
        <div class="col-lg-12">
            <div class="hd">
                <strong>Graduação</strong>
            </div>
        </div>
        <div class="col-lg-10 description">
            <!-- First Row in the First Column -->
            <div class="row">
                <div class="col-lg-6">
                    <strong>Instituição:</strong> Pontifícia Universidade Católica de Minas Gerais
                </div>
                <div class="col-lg-6">
                    <strong>Curso:</strong> Ciência da Computação
                </div>
            </div>
            
            <!-- Second Row in the First Column -->
            <div class="row row-margin">
                <div class="col-lg-4">
                   <strong>Início:</strong>  Julho de 2017
                </div>
                <div class="col-lg-4">
                    <strong>Término:</strong> Junho de 2022
                </div>
                <div class="col-lg-4">
                    <strong>Média:</strong> 86
                </div>
            </div>
            
            <!-- Third Row in the First Column -->
            <div class="row row-margin">
                <div class="col-lg-12">
                    <strong>Trabalho de conclusão:</strong> Estudo de Mobilidade Social em Redes Veiculares
                </div>
                <div class="col-lg-12">
                    <div class="listing">
                        <ul>
                            <li>Ferramentas: Python, Jupyter Notebook, Pandas, Matplotlib</li>
                            <li>Repositório: https://github.com/TulioNPL/Pesquisa</li>
                            <li>Limpeza e preparação de bases de dados de redes veiculares</li>
                            <li>Análise estatística dos dados</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="image-frame">
                <img src="/img/Logo-PUC-Minas.png" alt="PUC" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- CARD Mestrado -->
    <div class="row content-container">
        <div class="col-lg-12">
            <div class="hd">
               <strong>Mestrado</strong> 
            </div>
        </div>
        <div class="col-lg-10 description">
            <!-- First Row in the First Column -->
            <div class="row">
                <div class="col-lg-6">
                    <strong>Instituição:</strong> Universidade Federal de Minas Gerais
                </div>
                <div class="col-lg-6">
                    <strong>Curso:</strong> Ciência da Computação
                </div>
            </div>
            
            <!-- Second Row in the First Column -->
            <div class="row row-margin">
                <div class="col-lg-4">
                   <strong>Início:</strong>  Janeiro de 2023
                </div>
                <div class="col-lg-4">
                    <strong>Término:</strong> Em curso
                </div>
                <div class="col-lg-4">
                    <strong>Média:</strong> 84
                </div>
            </div>
            
            <!-- Third Row in the First Column -->
            <div class="row row-margin">
                <div class="col-lg-12">
                    <strong>Trabalho de conclusão:</strong> Algoritmo de seleção de clientes para redes SMELL
                </div>
                <div class="col-lg-12">
                    <div class="listing">
                        <ul>
                            <li>Ferramentas: Python, Flower Framework</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="image-frame">
                <img src="/img/Logo_UFMG.png" alt="PUC" class="img-fluid">
            </div>
        </div>
    </div>

<!-- CARD Cursos -->
    <div class="row content-container">
        <div class="col-lg-12">
            <div class="hd">
               <strong>Cursos</strong> 
            </div>
        </div>

        <!-- Lista de Cursos -->
        @for (int i = 0; i < Cursos.Count; i++) {
            <CursoCard curso="Cursos[i]" ehUltimoDaLista="i < Cursos.Count - 1"></CursoCard>
        }
    </div>
</div>